/* Material Design Lite */
/*@import 'react-mdl/extra/material.css';*/
/*@import './palette.css';*/

* {
  box-sizing: border-box;
}

.no-scroll {
  -ms-overflow-style: none;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.novartis-logo {
  background-image: url(../images/novartis.svg);
}

.logo {
  width: 210px;
  height: 40px;
	background-size: 100% 100%;
  background-image: url(../images/novartis.svg);
}
