//////////////////
// Dependencies //
//////////////////

import * as React from 'react'
import {render} from 'react-dom'
import * as Router from 'react-router'
const { Route, NotFoundRoute } = Router
import { Provider } from 'react-redux'
import { ReduxRouter } from 'redux-router'

// React components for Redux DevTools
import { DevTools, DebugPanel, LogMonitor } from 'redux-devtools/lib/react'

///////////////////////
// Components import //
///////////////////////

// -- Import components --

///////////
// Store //
///////////

import {store} from './store/configureStore'

/*****************************************************************
 * Root component                                                *
 * Is the top level component, it wraps the application entirely *
 * for rerendering in case of changes in the Redux Store         *
 *                                                               *
 * Here we are defining the application routes.                  *
 *                                                               *
 * The MainHandler is the component that acts as layout for the  *
 * others, passed as children to it.                             *
 *****************************************************************/

class Root extends React.Component<any, any> {
  render() {
    return (
      <Provider store={store}>
        {() =>
        <ReduxRouter>
          {/* Routes */}
        </ReduxRouter>
        }
      </Provider>
    )
  }
}

///////////////////////////
// Application Bootstrap //
///////////////////////////

/***************************************************************************
 * The application render target is the root node in the index.html folder *
 *                                                                         *
 * In case that we are in development mode with DEBUG=true the redux state *
 * monitor will appear also.                                               *
 ***************************************************************************/

const target = document.getElementById('root')

if (__DEV__) {
  render(
    <div>
      <Root />
      {window.location.hash.match('[?&]debug=true') ?
      <DebugPanel top right bottom>
        <DevTools store={store} monitor={LogMonitor} />
      </DebugPanel> : null}
    </div>,
    target
  )
} else {
  render(<Root />, target)
}
